* {
  font-family: kakao;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s;
}

#box {
  margin: 50px auto;

  width: 500px;
  height: 500px;
  border-radius: 20%;
  position: relative;
  background-color: #ddd;
  /* flexbox 를 이용해 중앙 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 분침 모양 관련 속성 */
.minuteHand {
  position: absolute;
}

.thin {
  width: 80%;
  border: 1px solid black;
}

.thick {
  width: 90%;
  border: 1.5px solid black;
}

/* 분침 텍스트 관련 속성 */

.minuteText {
  position: absolute;
  font-size: 20px;
}

/* 분침 일부분만 보이도록 가려주는 속성 */

#circleForHide {
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: #ddd;
  border-radius: 100%;
}

/* 시작 및 정지 버튼 */

.play-button {
  position: absolute;
  width: 20%;
  height: 20%;
  border-radius: 100%;
  border: 0px;
  font-size: 40px;
  color: red;
  background-color: white;
  transition: box-shadow 0.5s;
  z-index: 1;
}

button:hover {
  box-shadow: 0px 0px 10px black;
}

/* 타이머 전광판 */

#board {
  margin: 0 auto;
  font-size: 30px;
}

[id*='text'] {
  display: inline-block;
  width: 30px;
  height: 30px;
}

/* 타이머 런닝 타임 관련 속성 */

.running-time {
  position: absolute;
  width: 40%;
  height: 20px;
  background-color: red;
  border: 2px solid red;
}

/* 초기화 버튼 관련 속성 */

#initialize-button {
  margin: 10px auto;
  font-size: 50px;
  background-color: white;
  border: 0px;
  border-radius: 100%;
}

/* 뽀모 횟수 카운트 하기 */

#count-box {
  margin: 10px auto;
  font-size: 50px;
}

#bbomo-count {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
}
